<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>vpn.freifunk-franken.de</title>
    <link href="{$template_dir}assets/style.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
{include file="header.html"}
<div id="stripe" style="">
    <a style="" href="http://www.freifunk-franken.de/" target="_blank">freifunk-franken.de</a>
</div>
{if $loggedin}
    <div id="logout">
            <a href="login.php?action=logout">Logout</a>
    </div>
{/if}
{include file="$page.html"}
{include file="footer.html"}